@import ../variables

.menu-top
  position: fixed
  top: 0
  right: 0
  left: 0
  width: 100%
  height: $interval-top-menu
  padding: 10px

  color: $clr-menu-txt

  background-color: $clr-menu-bg
  box-shadow: $shd-menu-box

  display: flex
  justify-content: center
  align-items: center

.menu-top > *
  margin-right: 5px
  border: 1px solid $clr-menu-btn-hover-brd
  box-shadow: $shd-menu-btn
  text-align: center
  padding: 5px
  flex-grow: 1

.menu-top > *:hover
  background-color: $clr-menu-btn-hover-bg
  cursor: pointer